.animate_zoomInLeft {
  -webkit-animation-name: zoomInLeft;
  animation-name: zoomInLeft;
  animation-duration: 1.5s;
  animation-fill-mode: both; }

.animate_zoomInRight {
  -webkit-animation-name: zoomInRight;
  animation-name: zoomInRight;
  animation-duration: 1.5s;
  animation-fill-mode: both; }

.animate_jackInTheBox {
  -webkit-animation-name: jackInTheBox;
  animation-name: jackInTheBox;
  animation-duration: 1.5s;
  animation-fill-mode: both; }

@keyframes zoomInLeft {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }

@keyframes zoomInRight {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }

@keyframes jackInTheBox {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.1) rotate(30deg);
    transform: scale(0.1) rotate(30deg);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom; }
  50% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg); }
  70% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg); }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); } }

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth; }

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.8;
  background: #454545;
  height: 100vh;
  position: relative;
  overflow-x: hidden; }

h1, h2, h3 {
  font-family: "Luckiest Guy", cursive;
  text-transform: uppercase; }

a, a:link, a:visited {
  text-decoration: none; }

.header {
  background-color: #2A2025;
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  transform: translateY(-100%) rotate(180deg);
  transition: all .7s;
  position: fixed;
  top: 0;
  z-index: 2; }
  @media (min-width: 768px) {
    .header {
      transform: translateY(0);
      height: 6rem;
      grid-template-columns: 6rem repeat(4, 1fr);
      grid-template-rows: 6rem;
      grid-template-areas: "logo navbar navbar navbar navbar";
      border-bottom: 0.1rem solid #2A2025;
      box-shadow: 0 0 0.5rem #2A2025; } }
  .header_logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 12rem;
    position: absolute;
    bottom: .5rem;
    left: 50%;
    transform: translate(-50%, -50%); }
    @media (min-width: 768px) {
      .header_logo {
        width: 6rem;
        position: relative;
        bottom: initial;
        left: initial;
        transform: translate(0, 0);
        grid-area: logo;
        align-self: center;
        margin: auto; } }
    .header_logo--img {
      width: 100%; }
  @media (min-width: 768px) {
    .header_navbar {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      grid-area: navbar;
      align-self: center;
      justify-self: flex-end;
      padding-right: 1rem; } }
  .header_navbar--item {
    font-family: "Luckiest Guy", cursive;
    list-style-type: none;
    font-size: 4rem;
    letter-spacing: .2rem;
    text-transform: uppercase;
    text-align: center;
    margin: 1rem 0; }
    @media (min-width: 768px) {
      .header_navbar--item {
        display: inline-block;
        font-size: 1.8rem;
        margin: 0 1.5rem;
        backface-visibility: hidden;
        transition: all .5s; }
        .header_navbar--item:hover {
          transform: scale(1.1); } }
    .header_navbar--item_link {
      color: #F7F0F0;
      font-weight: bold;
      backface-visibility: hidden;
      transition: all .1s; }
      .header_navbar--item_link:hover {
        border-bottom: 0.1rem solid #F7F0F0; }
  .header_menuOn {
    transform: translateY(0) rotate(0deg);
    transition: all 1s; }

.mobile_menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  transform: rotate(0deg);
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  z-index: 3; }
  @media (min-width: 768px) {
    .mobile_menu {
      display: none; } }
  .mobile_menu--icon {
    font-size: 5rem;
    color: #F7F0F0;
    transition: all .5s; }
  .mobile_menu--rotate {
    transform: rotate(180deg);
    transition: all .5s; }

.home {
  width: 100vw;
  height: 100vh;
  position: relative; }
  @media (min-width: 1200px) {
    .home {
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      grid-template-rows: repeat(10, 1fr); } }
  .home_overlay {
    width: 100vw;
    height: 100vh;
    background-image: url("../img/home.svg");
    background-position: right;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.1; }
    @media (min-width: 1200px) {
      .home_overlay {
        display: none; } }
  .home_image {
    display: none; }
    @media (min-width: 1200px) {
      .home_image {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 220%;
        align-self: center;
        justify-self: center;
        grid-column: 7/10;
        grid-row: 5/8;
        opacity: 0.5;
        background-color: #454545; } }
  .home_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    letter-spacing: .2rem;
    color: #F7F0F0;
    text-shadow: 0 0.5rem #2A2025;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    @media (min-width: 1200px) {
      .home_text {
        position: relative;
        top: initial;
        left: initial;
        transform: translate(0, 0);
        width: 100%;
        align-self: center;
        justify-self: center;
        grid-column: 1/5;
        grid-row: 5/7; } }
    .home_text--name {
      font-size: 4rem; }
      @media (min-width: 414px) {
        .home_text--name {
          font-size: 5rem; } }
      @media (min-width: 768px) {
        .home_text--name {
          font-size: 8rem; } }
      @media (min-width: 1200px) {
        .home_text--name {
          font-size: 6rem; } }
      @media (min-width: 1600px) {
        .home_text--name {
          font-size: 7rem; } }
    .home_text--job {
      font-size: 2.5rem; }
      @media (min-width: 414px) {
        .home_text--job {
          font-size: 3rem; } }
      @media (min-width: 768px) {
        .home_text--job {
          font-size: 5rem; } }
      @media (min-width: 1200px) {
        .home_text--job {
          font-size: 3.5rem; } }
      @media (min-width: 1600px) {
        .home_text--job {
          font-size: 4.5rem; } }

.about {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #2A2025;
  background-image: url("../img/about-bg.svg");
  background-size: cover;
  background-position: center; }
  .about_content {
    display: grid;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 100%;
    padding: 2rem 0;
    margin: auto; }
    @media (min-width: 768px) {
      .about_content {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "title title"  "image skills"  "text text"  "social social"; } }
    @media (min-width: 1200px) {
      .about_content {
        width: 90%;
        padding-top: 5rem;
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas: "title title title title title title" "image image image skills skills skills" "text text text social social social"; } }
    @media (min-width: 1600px) {
      .about_content {
        width: 85%; } }
    .about_content--title {
      font-size: 6rem;
      margin: auto;
      letter-spacing: .2rem;
      align-self: center;
      justify-self: center; }
      @media (min-width: 768px) {
        .about_content--title {
          font-size: 7rem; } }
      @media (min-width: 1440px) {
        .about_content--title {
          font-size: 8rem; } }
      @media (min-width: 768px) {
        .about_content--title {
          grid-area: title; } }
    .about_content--img {
      width: 85%;
      margin: 5rem auto;
      border-radius: .5rem; }
      @media (min-width: 768px) {
        .about_content--img {
          grid-area: image; } }
      @media (min-width: 1200px) {
        .about_content--img {
          width: 30rem;
          height: 30rem;
          margin: .5rem auto; } }
    .about_content--text {
      margin: auto; }
      @media (min-width: 768px) {
        .about_content--text {
          grid-area: text;
          width: 90%; } }
      @media (min-width: 1600px) {
        .about_content--text {
          width: 80%; } }
      .about_content--text_paragraph {
        font-size: 1.7rem;
        padding: 1rem 1.5rem;
        text-align: justify; }
        @media (min-width: 768px) {
          .about_content--text_paragraph {
            font-size: 1.8rem; } }
    .about_content--skills {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      justify-content: center;
      width: 85%;
      height: 100%;
      margin: 5rem auto;
      align-self: center;
      justify-self: center; }
      @media (min-width: 768px) {
        .about_content--skills {
          grid-area: skills;
          margin: auto;
          grid-template-rows: 6rem;
          height: 80%; } }
      @media (min-width: 1200px) {
        .about_content--skills {
          width: 65%;
          height: 100%; } }
      @media (min-width: 1600px) {
        .about_content--skills {
          width: 55%; } }
      .about_content--skills_title {
        font-size: 3rem;
        margin: auto;
        grid-column: 1/-1;
        letter-spacing: .2rem; }
        @media (min-width: 768px) {
          .about_content--skills_title {
            font-size: 4rem; } }
      .about_content--skills_icon {
        font-size: 4rem;
        color: #F7F0F0;
        text-align: center;
        margin: 2rem;
        align-self: center;
        justify-self: center; }
        @media (min-width: 768px) {
          .about_content--skills_icon {
            margin: auto; } }
    .about_content--social {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      justify-content: center;
      width: 85%;
      height: 100%;
      margin: auto; }
      @media (min-width: 768px) {
        .about_content--social {
          grid-area: social;
          width: 30rem;
          height: 15rem; } }
      .about_content--social_title {
        font-size: 3rem;
        margin: auto;
        grid-column: 1/-1;
        letter-spacing: .2rem; }
        @media (min-width: 768px) {
          .about_content--social_title {
            font-size: 4rem; } }
      .about_content--social_link {
        margin: auto; }
        .about_content--social_link--icon {
          font-size: 3.5rem;
          color: #F7F0F0;
          text-align: center; }

.portfolio {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100%;
  margin: 10rem auto; }
  .portfolio_title {
    font-size: 6rem;
    margin: auto;
    letter-spacing: .2rem;
    padding-top: 5rem; }
    @media (min-width: 768px) {
      .portfolio_title {
        font-size: 7rem; } }
    @media (min-width: 1440px) {
      .portfolio_title {
        font-size: 8rem; } }
  .portfolio_paragraph {
    font-size: 1.7rem;
    padding: 1rem 1.5rem;
    text-align: justify; }
    @media (min-width: 768px) {
      .portfolio_paragraph {
        font-size: 1.8rem; } }
  .portfolio_cards {
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 5rem auto 0; }
    @media (min-width: 768px) {
      .portfolio_cards {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5rem;
        width: 80%; } }
    @media (min-width: 1200px) {
      .portfolio_cards {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0 5rem; } }
    .portfolio_cards--card {
      width: 25rem;
      height: 30rem;
      position: relative;
      cursor: pointer;
      align-self: center;
      justify-self: center; }
      .portfolio_cards--card_front {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 25rem;
        height: 25rem;
        background-color: orange;
        position: absolute; }
        .portfolio_cards--card_front--img {
          width: 100%; }
      .portfolio_cards--card_back {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 25rem;
        height: 0;
        opacity: 0;
        background-color: green;
        transition: all .5s; }
        .portfolio_cards--card_back--title {
          font-size: 3rem;
          letter-spacing: .2rem; }
        .portfolio_cards--card_back--live, .portfolio_cards--card_back--code {
          border: none;
          padding: 1rem 1.5rem;
          text-transform: uppercase;
          font-size: 1.5rem;
          font-weight: bold;
          text-align: center;
          border-radius: .5rem;
          letter-spacing: .2rem;
          cursor: pointer;
          width: 90%;
          display: none; }
        .portfolio_cards--card_back--live {
          background-color: #4CC355; }
        .portfolio_cards--card_back--code {
          background-color: #10ADED; }
  .portfolio_backCardOn {
    height: 25rem;
    opacity: 1;
    position: absolute;
    transition: all .5s; }
  .portfolio_displayButtons {
    display: block;
    opacity: 0.7;
    transition: .5s; }
    .portfolio_displayButtons:hover {
      opacity: 1; }

.contact {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }
  @media (min-width: 768px) {
    .contact {
      height: 100vh; } }
  .contact_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; }
    .contact_content--title {
      font-size: 6rem;
      margin: auto;
      letter-spacing: .2rem; }
      @media (min-width: 768px) {
        .contact_content--title {
          font-size: 7rem; } }
      @media (min-width: 1440px) {
        .contact_content--title {
          font-size: 8rem; } }
    .contact_content--paragraph {
      font-size: 1.7rem;
      padding: 1rem 1.5rem;
      text-align: justify; }
      @media (min-width: 768px) {
        .contact_content--paragraph {
          font-size: 1.8rem; } }
    .contact_content--form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      width: 100%;
      height: 100%;
      margin: auto; }
      @media (min-width: 768px) {
        .contact_content--form {
          width: 75%; } }
      @media (min-width: 1200px) {
        .contact_content--form {
          width: 40%; } }
      @media (min-width: 1600px) {
        .contact_content--form {
          width: 35%; } }
      .contact_content--form_label, .contact_content--form_input, .contact_content--form_textarea, .contact_content--form_button {
        width: 85%;
        margin: 0 auto; }
      .contact_content--form_label {
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: bold;
        padding-left: .2rem;
        margin: .5rem auto 1rem; }
      .contact_content--form_input {
        font-size: 1.7rem;
        height: 4rem;
        width: 85%;
        margin-bottom: 3rem; }
      .contact_content--form_textarea {
        width: 85%;
        font-size: 1.7rem;
        height: 20rem;
        border-radius: .5rem;
        margin: 0 auto 1rem;
        padding: 1rem;
        font-family: "Open Sans", sans-serif; }
      .contact_content--form_button {
        border: none;
        padding: 1rem 1.5rem;
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
        border-radius: .5rem;
        letter-spacing: .2rem;
        cursor: pointer;
        width: 85%;
        background-color: #10ADED; }
        @media (min-width: 1200px) {
          .contact_content--form_button {
            opacity: 0.5;
            transition: all .5s; }
            .contact_content--form_button:hover {
              opacity: 1; } }
