@mixin flex($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin section-title {
  font-size: 6rem;
  margin: auto;
  letter-spacing: .2rem;

  @media(min-width: 768px) {font-size: 7rem;}
  @media(min-width: 1440px) {font-size: 8rem;}
}

@mixin sub-title {
  font-size: 3rem;
  margin: auto;
  grid-column: 1/-1;
  letter-spacing: .2rem;

  @media(min-width: 768px) {font-size: 4rem;}
}

@mixin section-paragraph {
  font-size: 1.7rem;
  padding: 1rem 1.5rem;
  text-align: justify;

  @media(min-width: 768px) {font-size: 1.8rem;}
}

@mixin button() {
  border: .1rem solid $black-color;
  padding: 1.5rem;
  text-transform: uppercase;
  font-size: 1.7rem;
  font-weight: bold;
  text-align: center;
  border-radius: 1rem;
  letter-spacing: .2rem;
  cursor: pointer;
}